/* 搜索标题 */
main{
    align-content: start;
}

.search-box{
    margin-top: 30vh;
}

.main-search-title {

    color: #00AEEC;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

/* 数据来源 */
.main-search-p {
    margin-top: 10px;
    margin-bottom: 15px;

    color: #18191c;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

/* 搜索 */
.main-searchdiv {
    margin: 0 auto;
    padding: 5px;
    width: 478px;
    height: 44px;

    justify-content: space-between;
    align-items: center;

    background: #F6F7F8;
    border: 1px solid #F1F2F3;
    border-radius: 6px;
    transition: all .2s;
}

.main-searchdiv:hover {
    background-color: #fff;
}

.main-searchdiv:focus-within {
    /* 输入框聚焦时的样式 */
    background-color: #fff;
    border: 1px solid #00AEEC;
}

/* 搜索图标 */
.main-searchdiv-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-searchdiv-icon svg {
    margin-top: 2px;
    width: 20px;
    height: 20px;
    color: #00aeec;
    margin-left: 15px;
    margin-right: 10px;
}

/* 搜索输入框 */
.main-searchdiv input {
    width: calc(100%);
    height: 36px;
    font-size: 18px;
    color: #18191c;
    margin-right: 15px;
    border: none;
    outline: none;
    background: transparent;
}

/* 搜索按钮 */
.main-searchdiv button {
    width: 100px;
    height: 34px;
    font-size: 16px;
    color: #ffffff;
    background: #00aeec;
    border: 1px solid #00aeec;
    border-radius: 6px;
    line-height: 1;
    transition-duration: .2s;
    cursor: pointer;
}

.main-searchdiv button:hover {
    color: #ffffff;
    background: #40c5f1;
    border: 1px solid #40c5f1;
}


/* 返回按钮 */
.main-cardBox-backdiv-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #E3E5E7;
    /* transform-origin: center; */
    transition: .2s;
    cursor: pointer;

    /* line-height: 1.15; */
    margin-bottom: 10px;
    padding: 9px;

    background-color: #fff;
    color: #18191C;
}

.main-cardBox-backdiv-button:hover {
    background-color: #E3E5E7;
}

.main-cardBox-backdiv-button:active {
    transform: scale(.95) translateZ(0);
}

/* 返回按钮里面的图标 */
.main-cardBox-backdiv-button svg {
    margin-right: 3px;
}

/* 卡片内容栏 */
.main-cardBox {
    margin: 20px;
    max-width: 500px;
    flex: 1;
}

/* 卡片内容子项 */
.main-cardBox-child {
    height: auto;
    /* width: 400px; */

    padding: 30px;
    margin-bottom: 20px;

    color: #fff;
    border-radius: 30px;
    background-color: #dddfe1;

    background-repeat: no-repeat;
    background-size: cover;
}

.main-cardBox-child h2 {
    color: #18191C;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 400;
}

.main-cardBox-child p {
    color: #18191C;
    margin-bottom: 10px;

    font-size: 20px;
    font-family: 'ZCOOL XiaoWei', sans-serif;
    text-align: center;
}

@media screen and (max-width: 500px) {

    .main-searchdiv {
        width: 300px;
    }

    .main-searchdiv button {
        width: 80px;
    }
}


@media (prefers-color-scheme: light) { /*light : 浅色*/
}
@media (prefers-color-scheme: dark) { /*dark : 深色*/
    /* 数据来源 */
    .main-search-p {
        transition: .5s;
        color: #a2a7ae;
    }

    .main-searchdiv{
        background: #000;
        border: 1px solid #17181a;
    }

    .main-searchdiv:hover {
        background-color: #17181a;
    }

    .main-searchdiv:focus-within {
        /* 输入框聚焦时的样式 */
        background-color: #17181a;
        border: 1px solid #00AEEC;
    }

    .main-searchdiv input{
        color: #fff;
    }
}

