@{
    ViewData["Title"] = "AzureFantasy - 主页";
    ViewData["h1"] = "AzureFantasy";
}

<div id="result" class="main-cardBox">
    @* <div style="background-image: url(./images/VCG41N953834376.jpg);" class="flex-column mainCardChild">
    <h2>2023年11月12日</h2>
    <h2>得到了再失去，总是比从来就没有得到更伤人。</h2>
    <p> ——「追风筝的人」</p>
    </div> *@
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/home.js"></script>
}
