@{
    ViewData["Title"] = "AzureFantasy - 账号";
    ViewData["h1"] = "AzureFantasy";
    Layout = "_LayoutMyAccount";
}
@*
命名规范
class: BEM命名[ block-block__element-element__modifier-modifier ]块 元素 修饰符
id: 元素命名[ element-element ]元素
js变量: 小驼峰命名[ elementElement ]元素
*@

@* 内容 *@
<div class="content__basic">
    @* 头像 *@
    <img id="basicAvatar" class="basic__avatar" src="" alt="头像">
    @* 欢迎语句 *@
    <h2 id="basicWelcome" class="basic__welcome"></h2>
    <button id="loginOutButton">退出登录</button>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/MyAccount/index.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/MyAccount/index.js"></script>
}