@{
    ViewData["Title"] = "Prcoil - 查询";
    ViewData["h1"] = "Prcoil 查询";
}

<div id="search-box">
    <h2 class="main-search-title">Prcoil&nbsp;&nbsp;|&nbsp;&nbsp;成绩查询系统</h2>
    <p class="main-search-p">数据来源: 高2022级2023年高二上期第一次月考</p>
    <div class="main-searchdiv flexRow">
        <div class="main-searchdiv-icon">
            <svg>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M17.345 15.7c.293.292.13.572-.152.863-.043.065-.097.119-.14.162-.282.248-.607.399-.868.14l-3.5-3.483a6.938 6.938 0 0 1-4.238 1.445c-3.826 0-6.947-3.096-6.947-6.914C1.5 4.106 4.61 1 8.447 1c3.826 0 6.947 3.095 6.947 6.913a6.908 6.908 0 0 1-1.528 4.325l3.48 3.462ZM3.136 7.903c0 2.912 2.385 5.274 5.3 5.274 2.916 0 5.3-2.362 5.3-5.274s-2.384-5.274-5.3-5.274c-2.926 0-5.3 2.372-5.3 5.274Z"
                    fill="currentColor"></path>
            </svg>
        </div>
        <input id="search-input" value="" type="text" placeholder="输入关键字搜索" required>
        <button id="search-button">搜索</button>

    </div>
</div>
<div id="result" class="main-cardBox displayNone">
    <div class="main-cardBox-backdiv">
        <button class="main-cardBox-backdiv-button" onclick="location.reload();">
            <?xml version="1.0" encoding="UTF-8"?><svg width="14" height="14" viewBox="0 0 48 48" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M12.9998 8L6 14L12.9998 21" stroke="#333" stroke-width="4" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M6 14H28.9938C35.8768 14 41.7221 19.6204 41.9904 26.5C42.2739 33.7696 36.2671 40 28.9938 40H11.9984"
                    stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span>返回</span>
        </button>
    </div>
</div>


@section Styles
{
    <link rel="stylesheet" href="~/css/scoreselect.css" asp-append-version="true" />
}

@section Scripts
{
    <script>
        // 等待DOM准备就绪
        document.addEventListener('DOMContentLoaded', function () {
            // 选择元素
            const searchBox = document.getElementById('search-box');
            const searchButton = document.getElementById('search-button');
            const searchInput = document.getElementById('search-input');
            const resultDiv = document.getElementById("result");

            // 为按钮添加事件监听器
            searchButton.addEventListener('click', function (event) {
                // 阻止默认的表单提交行为
                event.preventDefault();

                // 获取用户名和密码的值
                const searchValue = searchInput.value;

                if (searchValue === "") {
                    alert("请输入关键字");
                    return false
                }

                // 使用Axios发送POST请求
                axios.get(`/GetStudentData?Name=${searchValue}`)
                    .then(function (response) {
                        // 处理成功的响应（例如，重定向或显示成功消息）
                        console.log(response.data);

                        const data = response.data;

                        const resultHtml = `
                        <!--  -->
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>${data.class}班 ${data.name}</h2>
                        <p>总分数: ${data.score}</p>
                        <p>赋分总分数: ${data.score}</p>
                        <p>年级排名: ${data.graderanking}</p>
                        <p>班级排名: ${data.classranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>语文</h2>
                        <p>分数: ${data.chinese}</p>
                        <p>年级排名: ${data.chineseranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>数学</h2>
                        <p>分数: ${data.math}</p>
                        <p>年级排名: ${data.mathranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>英语</h2>
                        <p>分数: ${data.english}</p>
                        <p>年级排名: ${data.englishranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>物理</h2>
                        <p>分数: ${data.physics}</p>
                        <p>年级排名: ${data.physicsranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>历史</h2>
                        <p>分数: ${data.history}</p>
                        <p>年级排名: ${data.historyranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>化学</h2>
                        <p>分数: ${data.chemistry}</p>
                        <p>分数(赋分): ${data.assignchemistry}</p>
                        <p>年级排名: ${data.chemistryranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>生物</h2>
                        <p>分数: ${data.organism}</p>
                        <p>分数(赋分): ${data.assignorganism}</p>
                        <p>年级排名: ${data.physicsranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>政治</h2>
                        <p>分数: ${data.politics}</p>
                        <p>分数(赋分): ${data.assignpolitics}</p>
                        <p>年级排名: ${data.politicsranking}</p>
                        </div>
                        <div style="background-color: #f8f9fa;" class="main-cardBox-child">
                        <h2>地理</h2>
                        <p>分数: ${data.geography}</p>
                        <p>分数(赋分): ${data.assigngeography}</p>
                        <p>年级排名: ${data.geographyranking}</p>
                        </div>
                        `;

                        searchBox.setAttribute('class', 'displayNone')
                        resultDiv.setAttribute('class', 'main-cardBox')

                        resultDiv.innerHTML += resultHtml;
                    })

                    .catch(function (error) {
                        // 处理错误（例如，显示错误消息）
                        console.error(error);
                    });
            });
        });
    </script>
}
