@{
    ViewData["Title"] = "Prcoil - 账号";
    ViewData["h1"] = "Prcoil 账号";
    Layout = "_LayoutMyAccount";
}

<h2>PersonalInformation</h2>



@section Styles
{
    <link rel="stylesheet" href="~/css/MyAccount/my-account.css" asp-append-version="true" />
}